// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;


$white-color: #fff;

$dark-grey: #878787;
$mid-grey: #e3e3e3;
$light-grey: #f8f8f8;
$footer-grey: #e5e5e5;
$dark-blue: #003866;
$dark-blue-text: #272341;
$darker-blue: #003563;
$blue-line: #009ee3;

// FONT SIZE
$default-font-size: 1.9rem;
$big-font-size: 5rem;
$mid-font-size: 2.5rem;
