{#
/**
 * @file
 * Default theme implementation to display something.
 *
 *
 * @see template_preprocess_price_list_currency()
 *
 * @ingroup themeable
 */
#}
<div id="block-readandspell-currency-selector" class="block block-readandspell currency-selector first odd">
  <div class="selected-currency "><span></span>&#9662;</div>
  <div class="currency-wrap">
    <ul class="currency-list">
      <li class="cy-uk" data-country="UK">United Kingdom<span>GBP</span></li>
      <li class="cy-us" data-country="US">United States<span>USD</span></li>
      <li class="cy-eu" data-country="EU">Europe<span>EUR</span></li>
      <li class="cy-ca" data-country="CA">Canada<span>CAD</span></li>
      <li class="cy-au" data-country="AU">Australia<span>AUD</span></li>
      <li class="cy-nz" data-country="NZ">New Zealand<span>NZD</span></li>
    </ul>
  </div>
</div>
