{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_footer_text()
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
<div class="reciteme">Enable Recite</div>
  <div class="footer-full">
    <span class="copy-title">1992-{{ year }} &copy; (TTRS)</span>
    <div class="footer-bottom-menu-line">

    </div>
  </div>
</div>
